.App {
  min-height: 100vh;
  text-align: center;
  color: black;
  background-color: white;
  font-family: "Poiret One", cursive;
  font-weight: 700;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
